aiohttp==3.4.0
async-timeout==3.0.0
attrs==18.1.0
backcall==0.1.0
certifi==2018.8.13
chardet==3.0.4
colorama==0.3.9
decorator==4.3.0
Django==1.10.1
django-ajax-selects==1.6.0
django-filter==1.1.0
django-select2-forms==2.0.2
django-smart-selects==1.5.2
django-sortedm2m==1.5.0
djangorestframework==3.7.7
idna==2.7
idna-ssl==1.1.0
ipython==6.5.0
ipython-genutils==0.2.0
jedi==0.12.1
Markdown==2.6.11
multidict==4.3.1
olefile==0.44
parso==0.3.1
pickleshare==0.7.4
Pillow==4.2.1
pipenv==2018.7.1
prompt-toolkit==1.0.15
Pygments==2.2.0
pypiwin32==219
pytz==2017.2
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
virtualenv==16.0.0
virtualenv-clone==0.3.0
wcwidth==0.1.7
win-unicode-console==0.5
yarl==1.2.6
